*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(5, 24, 54);
    color: white;
    font-family:'poppins', sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(111, 111, 199);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin:0 23px;
    color: white;
}
a{
   color: white; 
}
a:hover{
    color: rgb(41, 41, 113);
    font-size: 1.08rem;
}
.left{
    font-size: 20px;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    }

.leftsection{
    width: 300px;
    height: 300px;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
.rightsection{
    width: 250px;
    height: 300px;
}
.leftsection span1{
    font-size:larger;
    
}
.leftsection span2{
    font-size: smaller;
}
.rightsection img{
    border: none;
    border-radius: 95px;
    
    width: 80%;
    margin: 50px 0;
    height: 199px;
}
.aboutme h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-left: 20px;
    
}
.image image{
   width: 300px;
    height: 500px;
    object-fit: contain;

}
.contact .con{
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.input-3 input{
    padding: 20px 85px;
    margin-top: 5px;
}
.foot{
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    gap: 5px;
}
.Whatsapp{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 25px;
}
.Gmail{
    height: 40px;
    border: none;
    border-radius: 25px;
    width: 40px;
}
.Instagram{
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 40px;
}
.skl{
    text-align: center;
}
.skills{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills p{
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.skills h1{
    text-align: center;
}
.service{
    text-align: center;
}
.con{
    text-align: center;
}
.entbtn{
    padding: 3px 10px;
    border: none;
    margin-top: 9px;
    border-radius: 20px;
    color: white;
    background-color: rgb(95, 195, 238);
}
